<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>medium_buttons</key>
	<dict>
		<key>initialX</key>
		<integer>88</integer>
		<key>initialY</key>
		<integer>0</integer>
		<key>stepX</key>
		<integer>176</integer>
		<key>stepY</key>
		<integer>176</integer>
		<key>columns</key>
		<integer>3</integer>
		<key>rows</key>
		<integer>4</integer>
		<key>filenameFormat</key>
		<string>btn_%@~iPad</string>
	</dict>
	<key>large_buttons</key>
	<dict>
		<key>initialX</key>
		<integer>1</integer>
		<key>initialY</key>
		<integer>1</integer>
		<key>stepX</key>
		<integer>234</integer>
		<key>stepY</key>
		<integer>234</integer>
		<key>columns</key>
		<integer>3</integer>
		<key>rows</key>
		<integer>3</integer>
		<key>filenameFormat</key>
		<string>btn_large_%@~iPad</string>
	</dict>
</dict>
</plist>
